---
---

$content-max-width: 100% !default;

.site-max-width {
  max-width: 100% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.site-content {
  max-width: 100% !important;
}

.main-content {
  max-width: 100% !important;
}
