---
---

// থিমের সব ডিফল্ট ম্যাক্স উইডথ ভেঙে দেওয়া
$content-max-width: 100% !important;

.site-max-width {
  max-width: 100% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.main-content-wrap {
  max-width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.main-content {
  max-width: 100% !important;
}

.site-content {
  max-width: 100% !important;
}

// টেক্সট যেন পুরো স্ক্রিন জুড়ে ছড়াতে পারে
.page-content {
  max-width: 100% !important;
}
